# Runtime data
appdata/
backups/
secrets/

# Local env/secrets
.env
*.env
!.env.example
*.secret
*.key
*.pem

# Traefik sensitive runtime files
acme.json
auth.yml

# Portainer runtime database/data
portainer.db
portainer.key
portainer.pub

# Logs/temp
*.log
*.tmp
.DS_Store
